.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("src/assets/restaurant.jpg");
    background-position: center;
    background-size: cover;
}

.home {
    position: absolute;
    height: 50px;
    font-size: 3rem;
    color: white;
    top: 220px;
}

.restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    font-size: 3rem;
    font-weight: 800;
    border-radius: 80px;
    color: white;
    background-color: #553d31;
}